.mainnav{
    border: 3px solid white;
    background-color: transparent;
    color: white;
    
    }
    .mainnav a {
        font-size: 18px;
        font-family: sans-serif;
    }
    
    .head{
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: transparent;
        color: #fbfbfb;
      
    }
    /* .head:hover{
        background-color: whitesmoke;
    } */
    .board:hover{
    background-color: aqua;
    }
    
    .button{
        height: 2rem;
        border-radius: 5px;
        background-color: #db6b00;
        color: white;
        border: none;
    }
    
    .board{
        background-color: whitesmoke;
        margin: 5px;
        padding: 10px;
    }
    
    .share{
        background-color: whitesmoke;
        color: black;
        margin: 5px;
        padding: 10px;
    }
    .share:hover{
        background-color: brown;
    }