body{
    background-image: url("https://images.pexels.com/photos/884788/pexels-photo-884788.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    border: 2px solid #999999;
    display: flex;
    flex-direction: row;
    background-color: #b1babe;
    opacity: 0.3px;
    width: 15rem;
    padding: 5px 5px;
    border-radius: 10px;
}

.btnWrapper{
    display: flex;
    align-items: center;
    color: #1e1e1e;
    font-size: 18px;
    margin: auto;
    font-weight: 600;
    font-family: sans-serif;
    cursor: pointer;
}
.inputWrapper{
    height: 10rem;
    width: 10rem;
    margin-right: 5rem;
    display: flex;
    flex-direction: column;
}
.inputField{
    border-radius:.5rem;
    height: 2rem;
    margin:auto;
    margin-left: 20%;

}
.inputField:focus{
    background-color: antiquewhite;
    border-radius:.5rem;
    height: 2rem;
    margin:auto;
    margin-left: 20%;
    color:brown
}
.innerDiv{
    
    border-radius:.5rem;
    display: flex;
    gap:2rem;
    margin-left: 22.5%;


}
.closeIcon{
    width: 5rem;
}
